
 <!DOCTYPE html>
<html>

<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<style type="text/css">
	html, body {
    height: 100%;
}

/*html, body { height: 100%; padding: 0; margin: 0; }
div { width: 50%; height: 50%; float: left; }
#div1 { background: #DDD; }
#div2 { background: #AAA; }
#div3 { background: #777; }
#div4 { background: #444; }*/
</style>

</head>


<body>


<!-- <button id="btnPlay">Play all</button>
<button id="btnStop">Stop all</button>
<button style="display: none" id="fullScreen">Full Screen</button>
<button id="changeContent">Cambiar contenido</button> -->

    <div id="wrapper" style="height: 100%; width: 100%">
    <div id="fourScreensContainer" style="height: 100%; width: 100%">
    <div class="row" style="height:100%;margin-bottom: 0px">
    	<div class="row" style="height:50%; margin-bottom: 0px; margin-top: 0px">
    		<div class="col s6" id="screen1" style="height:100%; ;margin-bottom: 0px;border-style: solid" >

    			<br>
    			<br>
    			<h1>Screen 1</h1>
<!--     			<video controls loop autoplay id="vid1" width="100%" height="100%" controls>
				  <source src="./videos/HD/video1.mp4" type="video/mp4">
				  Your browser does not support the video tag.
				</video>  -->
    		</div>
    		<div class="col s6" id="screen2"  style="height:100%; margin-bottom: 0px;border-style: solid">

    			<br>
    			<br>
    			<h1>Screen 2</h1>
<!--     			<video controls loop autoplay id="vid2" width="100%" height="100%" controls>
				  <source src="./videos/HD/video2.mp4" type="video/mp4">
				  Your browser does not support the video tag.
				</video>   -->   			
    		</div>    		
    	</div>
    	<div class="row" style="height:50%; margin-bottom: 0px; margin-top: 0px">
       		<div class="col s6" id="screen3" style="height:100%; margin-bottom: 0px;border-style: solid">

       			<br>
       			<br>
       			<h1>Screen 3</h1>
<!--     			<video controls loop autoplay id="vid3" width="100%" height="100%" controls>
				  <source src="./videos/HD/video3.mp4" type="video/mp4">
				  Your browser does not support the video tag.
				</video>    -->  			
    		</div>
    		<div class="col s6" id="screen4" style="height:100%; margin-bottom: 0px;border-style: solid">

    			<br>
    			<br>
    			<h1>Screen 4</h1>
<!--     			<video controls loop autoplay id="vid4" width="100%" height="100%" controls>
				  <source src="./videos/HD/video4.mp4" type="video/mp4">
				  Your browser does not support the video tag.
				</video>    -->  			
    		</div>    		
    	</div>

    </div>



<!-- <p><strong>Note:</strong> The  video tag is not supported in Internet Explorer 8 and earlier versions.</p>
 -->
</div>
    <div id="fullScreen" style="height: 100%; width: 100%; background-color:black">
      <br>
      <br>
      <br>
      <br>
      <br>
      <h1> FULL SCREEN VIDEO</h1>
    </div>
</div> 


      <!-- Modal Structure -->
      <div id="optionsModal" class="modal" style="height:100%; width: 100%" >
        <div class="modal-content"  style="height:100%; width: 100%">
            <h4>Select option</h4>
            <div class="row">
              <div class="col m6">

              <div class="modal-action modal-close" id="optionFullScreen" style="height: 100px; width:100%; background-color: #7c4dff; text-align: center">
                <br> 
                 <h1 style="color:white">1 Screen</h1>
               </div>      
              </div>
              <div class="col m6">
                            <div class="row">
               <div class="modal-action modal-close" id="option4Screen" style="height: 100px; width:100%; background-color: #42a5f5; text-align: center">
                
              <br> 
               <h1 style="color:white">4 Screens</h1></div>
            </div>
             </div>

            </div>

            <div class="row">
              <div class="col m6">
              <div class="modal-action modal-close" id="optionClearAll" style="height: 100px; width:100%; background-color: #4caf50; text-align: center">
                  
                <br> 
                 <h1 style="color:white">Clear all</h1>
               </div>
              </div>
              <div class="col m6">
                <div class="row">
                  <div class="modal-action modal-close" id="optionStopAll" style="height: 100px; width:100%; background-color: #dd2c00; text-align: center">
                    
                  <br> 
                   <h1 style="color:white">Stop All</h1></div>
                </div>
              </div>


            </div>

            <div class="row">
              <div class="col m6">
                <div class="modal-action modal-close" id="optionResumeAll" style="height: 100px; width:100%; background-color: #ffff00; text-align: center">
                  
                <br> 
                 <h1 style="color:white">Resume All</h1>
               </div>
              </div>
              <div class="col m6">
                  <div class="modal-action modal-close" id="optionFullScreenMode" style="height: 100px; width:100%; background-color: #1a237e ; text-align: center">
                    
                  <br> 
                   <h1 style="color:white">FullScreen</h1>
                 </div>
                </div>
            </div>
            <br>
          <div class="row">
            <div class="modal-action modal-close" style="height: 100%; width:100%; background-color: #ef5350; text-align: center">
  
              <br>
               <h1 style="color:white">Return</h1>
  
             </div>
            </div>
        </div>
<!--         <div class="modal-footer">
          
        </div> -->
      </div>


</body>


<script type="text/javascript" src="javascripts/full_screen_script.js"></script>
<script type="text/javascript" src="javascripts/public_zone.js"></script>
</html>
